body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background-image: url(../pictures/bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  font-family: Arial, sans-serif;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.card {
  background-color: hwb(0 93% 7%);
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  padding: 18px;
  text-align: center;
  animation: slideIn 1s ease;
  margin-bottom: 20px;
  width: 100%;
}

.cardleft {
  background-color: hwb(0 93% 7%);
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  padding: 18px;
  text-align: left;
  animation: slideIn 1s ease;
  margin-bottom: 20px;
  width: 100%;
}

.cardT {
  background-color: hwb(0 93% 7% / 0);
  border-radius: 2px;
 /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); */
  padding: 18px;
  text-align: center;
  width: 100%;
  margin-bottom: 5px;
}

.menu-box {
  background-color: hwb(0 93% 7% / 0);
  border-radius: 2px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0);
  padding: 0px;
  text-align: center;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  font-weight: 000;
  height: 30px;
}

.menu-box a {
  text-decoration: none;
  color: #ffffff; /* Dunklere Schriftfarbe */
  padding: 0px;
  transition: background-color 0.3s ease;
  flex-grow: 1; /* Fülle den verfügbaren Platz gleichmäßig auf */
  text-align: center; /* Zentriere den Text im Button */
  font-weight: 000;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-box a:hover {
  background-color: rgba(255, 255, 255, 0); /* Helleres Weiß beim Hovern über das Menü */
}

.aktuell {
  background-color: rgba(255, 255, 255, 0);
}

.card h1 {
  font-size: 18px;
  margin-bottom: 10px;
  color: rgb(0, 0, 0);
  margin-top: 0px;
}

.card p {
  font-size: 16px;
  color: #000000;
  margin-bottom: 20px;

}

.logo {
  max-width: 420px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.button {
  display: inline-block;
  font-size: 13px;
  padding: 5px 5px;
  background-color: hsl(210, 5%, 92%);
  color: rgb(0, 0, 0);
  border-color: rgb(30, 71, 89);
  border-width: 2px;
  border-style: solid;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 10px;
  overflow: hidden;
  position: relative;
  transition: background-color 0.3s ease, color 0.3s ease;
  text-decoration: none;
  font-weight: 600;
  height: 17px;
  width: 70px; 
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.bild3 {
  max-width: 30%;
}

.tool {
  font-size: 13px;
  padding: 5px 7px;
  background-color: hsl(209, 100%, 90%);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border-color: rgb(138, 140, 142);
  border-width: 2px;
  border-style: solid;
  border-radius: 3px;
  margin-right: 10px;
  overflow: hidden;
  position: relative;
  transition: background-color 0.3s ease, color 0.3s ease;
  text-decoration: none;
  font-weight: 000;
  text-align: justify;
  align-items: center;
  justify-content: center;
}

h2 {
  font-size: 18px;
}

h3 {
  text-align: center;
  font-size: 13px;
}

.impress {
  color: rgb(255, 255, 255)
}

.margin {
  margin-left: 20px;
  margin-top: 10px;
}

.button:before {
  content: '';
  background-color: rgba(71, 207, 126, 0.527);
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  transition: left 0.3s ease;
}

.button:hover:before {
  left: 0;
}

.share-button {
  width: 50px;
  height: 50px;
  background-color: #c5cafe;
  color: #575b8e;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #434343;
  border-radius: 5px;
  text-align: center;
  font-size: 9px;
  font-weight: 900;
  text-decoration: none;
  cursor: pointer;
}

.sb-Container{
  display: flex;
  gap: 10px; 
  align-items: center;
}

.share-button img {
  max-width: 90%;
  max-height: 90%;
}

.share-button:hover {
  background-color: #8e8ec3;
}

@keyframes slideIn {
  from {
      transform: translateY(100%);
  }
  to {
      transform: translateY(0);
  }
}

.link-table {
  border-collapse: collapse;
  width: 100%;
}

.link-table th, .link-table td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.link-table th {
  background-color: #f2f2f2;
}
