/* generel ---------------------------------------------------------- */

h1 {font-size: 48px}
h2 {font-size: 32px}
h3 {font-size: 18px}
h4 {font-size: 16px}

body {
  background-image: url(../pictures/bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 18px;
}

.container {
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.buttons-ff-top {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.buttons-ff {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: left;
  flex-direction: row;
}

.buttons-ff .button {
  text-decoration: none;
  color: white;
  background-color: #007bff;
  padding: 10px 20px;
  border-radius: 5px;
}

.buttons-ff-top .button {
  text-decoration: none;
  color: white;
  background-color: #007bff;
  padding: 10px 20px;
  border-radius: 5px;
}

/* navigation -------------------------------- */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0;
}

.navbar img {
  margin-top: 20px;
  float: left;
  width: 180px;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav {
  float: right;
  margin-right: 30px;
}

li {
  display: inline;
  padding: 15px;
}

nav a {
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
  padding-top: 15px;
}

nav a:hover {
  color: #00b2b2;
}

nav a:active {
  font-weight: bold;
}

@media screen and (max-width: 700px) {
  nav {
    width: 100%;
    margin-top: -5px;
  }

  nav li {
    display: block;
    text-align: center;
  }
}

/* content ---------------- */
.content {
width: 100%;
}

/* Footer --------------------------- */
.footer{
  margin: 10px;
}

.link-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.share-button {
  width: 50px;
  height: 50px;
  background-color: #e6e8ff33;
  color: #ffffff;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #434343;
  border-radius: 5px;
  text-align: center;
  font-size: 8px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}

.imp-container {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.impress {
  color: rgb(255, 255, 255);
}

.share-button img {
  max-width: 90%;
  max-height: 90%;
}

.share-button:hover {
  background-color: #8e8ec3;
}

@keyframes slideIn {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

/* text und titel --------------------------- */

.description-titel {
  text-align: center;
  color: #ffffff;
  padding-left: 20%;
  padding-right: 20%;
  margin-top: 8%;
  margin-bottom: 20px;
  word-break: break-word;
  font-size: 48px;
  font-weight: bold;
}

.description-head {
  text-align: center;
  color: #ffffff;
  padding-left: 20%;
  padding-right: 20%;
  margin-top: 2%;
  margin-bottom: 20px;
  word-break: break-word; 
  font-size: 32px;
  font-weight: bold;
}

.description-text {
  text-align: center;
  color: #b2b2b2; 
  padding-left: 10%;
  padding-right: 10%;
}

.description-text-privacy {
  text-align: left;
  color: #ffffff; 
  padding: 10px;
  margin-left: 10%;
  margin-right: 10%;
  background-color: #ffffff1c;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* Apps ---------------------------------------------------------------------------- */

.apps-container {
  flex: 1;
  overflow-y: auto;
  margin-top: 20px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 20px;
  color: #ffffff;
}

.apps {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding-bottom: 20px;
  padding-top: 20px;
}

.tool {
  border: 1px solid #ccc;
  background-color: #ffffff1c;
  padding: 15px;
  border-radius: 5px;
  width: calc(33.333% - 40px);
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 60px; 
}

.contentbox {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 12px;
}

.contentshow {
  display: none; /* Alle Inhalte sind standardmäßig unsichtbar */
}

.contentshow.active {
  display: block; /* Zeigt den aktiven Inhalt an */
}

.text-box {
  flex: 1;
}

.top-right-image {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 60px;
  height: auto;
}

.buttons {
  position: absolute;
  bottom: 10px; 
  right: 10px; 
  display: flex;
  gap: 5px; 
}

.buttons .button {
  text-decoration: none;
  color: white;
  background-color: #89929d;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;
}

.buttons .button-final {
  text-decoration: none;
  color: white;
  background-color: #0056b3;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;
}

a {
  color: white; /* Setzt die Farbe des Links auf Weiß */
  text-decoration: none; /* Entfernt die Unterstreichung (optional) */
}

a:visited {
  color: white; /* Stellt sicher, dass besuchte Links auch weiß bleiben */
}

a:hover {
  color: lightgray; /* Optional: Farbe beim Überfahren mit der Maus */
}

a:active {
  color: white; /* Stellt sicher, dass der Link beim Klicken weiß bleibt */
}